@import './styles/global';

.app {
  height: 100%;
}

.main-footer {
  position: absolute;
  width: 100%;
  padding: 1em 0;
  bottom: 0;
  color: $secondary-colour;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    position: static;
  }

  a {
    color: $primary-colour
  }
}
